.Rproj.user
.Rhistory
.RData
.png
.html
.ps
.wmf
flights_drift_calculation_example.html
flight_compfig_21290.wmf
figure
flight_10053.html
flight_10053.wmf
flight_13108.html
flight_13108.wmf
flight_15475.html
flight_15475.wmf
flight_15873.html
flight_15873.wmf
flight_18729.html
flight_18729.wmf
flight_19946.html
flight_19946.wmf
flight_20446.html
flight_20446.wmf
flight_21290.html
flight_21290.wmf
flight_21862.html
flight_21862.wmf
flight_5604.html
flight_5604.wmf
flight_compfig_10053.wmf
flight_compfig_13108.wmf
flight_compfig_15475.wmf
flight_compfig_15873.wmf
flight_compfig_18729.wmf
flight_compfig_19946.wmf
flight_compfig_20446.wmf
flight_compfig_21862.wmf
flight_compfig_5604.wmf
